body {
	font-family: 'arial', sans-serif;
	background: url('../img/bg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
}

body, ul {
	margin: 0;
	padding: 0;
}

* {
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
*:hover {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

a {
	text-decoration: none;
	color: #3e7cf8;
}

li {
	list-style: none;
}

a:hover {
	cursor: pointer;
}

.nav > ul > li {
    display: inline-block;
}

.nav > ul > li > a {
    padding: 1em 2em;
    display: block;
    font-size: 1.2em;
	color: #b9cedb;
}
.nav > ul > li > a:hover,
.nav > ul > li:hover > a {
	background: #00050933;
}

.nav > ul > li > ul {
    position: absolute;
    width: 250px;
    text-align: left;
	display: none;
}
.nav > ul > li:hover > ul {
	background: #0c0c0c99;
}
.nav > ul > li:hover > ul {
	display: block;
}

.nav > ul > li > ul > li > a {
    display: block;
    padding: 10px;
    color: #c1cdd2;
}

.nav > ul > li > ul > li > a {

    display: block;
    padding: 10px;
    color: #c1cdd2;

}
.nav > ul > li > ul > li > a:hover {
    background: #0000004d;
}

.pull-mid {
	margin: 0 auto;
}

.mainContainer, .pull-mid {
	width: 1200px;
}
.mainContainer {
	margin: 5em auto;
}

.header {
	background: url("../img/header.png");
	height: 420px;
	border: 5px solid #000c;
	background-repeat: no-repeat;
}

.container {
    border: 5px solid #000c;
    margin-top: 5em;
    background: #000000b3;
	padding: 10px;
}

.well-bg {
	/*background: #60626233;*/
	background: #80808033;
}

.well-header {
	font-size: 20px;
}
.well {
    padding: 10px;
    border: 1px solid #0f0e0e80;
	color: #b3b3b3;
}

.preventCollapse {
	overflow: hidden;
}

.centralizeContent {
	text-align: center;
}

.topBar {
	padding: 10px;
	background: #00000080;
}
.topBar .btns > div {
    display: inline-block;
}

.topBar .btns.socialMedia {
    font-size: 20px;
}

.topBar .btns > div > a {
	padding: 10px 20px;
	display: block;
	color: #e8e2cf;
}

.menuBar {
    background: #07080999;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.guild {
    width: 200px;
    border: 1px solid #404345;
    display: inline-block;
	padding: 5px;
}

.gName {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

.gName, .gKills {
	padding: 5px 1px;
	font-size: 18px;
	background: #0006;
}

.gRank {
	background: url('../img/ranks.jpg');
    height: 140px;
    width: 100%;
}

.gRank_1 { background-position: 0px -577px; }
.gRank_2 { background-position: 0px -428px; }
.gRank_3 { background-position: 0px -279px; }
.gRank_4 { background-position: 0px -134px; }
.gRank_5 { background-position: 0px 4px; }

.leftPane {
	width: 25%;
}

.rightPane {
    width: 74%;
}

.top5players > table {
	width: 100%;
}

.top5players td {
    padding: 10px 5px;
}

.top5players tr > td:nth-child(2) {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post .title,
.flexSpaceBetween {
	justify-content: space-between;
}

.searchBox,
.loginBox {
	display: none;
}

.post .title,
.flexSpaceBetween,
.searchForm {
	display: flex;
}
.searchForm input {
    padding: 10px;
    font-size: 1.5em;
    width: 100%;
    background: rgba(0, 0, 0, 0.73);
    color: white;
    border: 1px solid #1b1b1b;
}

/* modification for Gesior2012 */
.gesiorPage {
	color:#fff;
}
td {
    background: none !important;
}
tr {
    background: none !important;
}
.BigButton * {
    color: #0293fc !important;
}
