:root {
	/* backgrounds */
	--primary: #fff;
	--secondary: #eee;
	--third: #ddd;
	--font-color:#d2d2d2;

	/*test*/
	--primary-dark:rgb(36,48,62);
	--secondary-dark:rgb(42,57,73);
	--border-dark:rgb(21,29,39);
	--border-lightdark:#1c2938;

	/* anchor / links */
	--anchor-default:#008de6;
	--anchor-hover:#006db1;

	/* default, info, success, warning, danger */
	--hover-default:#fff;
	--bg-default:#ddd;
	--color-default:#292929;
	--border-default:#838383;

	--hover-info:#0980d8;
	--bg-info: #0067b3;
	--color-info: #fff;
	--border-info: #0047a2;

	--hover-success:#07da6a;
	--bg-success: #00b354;
	--color-success: #fff;
	--border-success: #15774a;

	--hover-warning:#c99d03;
	--bg-warning: #b38b00;
	--color-warning: #fff;
	--border-warning: #776415;

	--hover-danger:#ff3030;
	--bg-danger: #ec2020;
	--color-danger: #fff;
	--border-danger:#ae0000;

}

body {
	font-family: 'arial', sans-serif;
	background: url("../img/mainbg.png");
	background-size: 100%;
	background-attachment: fixed;
	z-index: -1;
}


.main {
	width:1250px;
	margin:5rem auto;
	background: var(--secondary-dark);
}

.main, .main > .top, .main > .bottom, .well,
.main > .top > ul > li > ul > li > a {
	padding: 10px;
}

.main > .top, .main > .bottom {
	background:var(--primary-dark);
	border-bottom: 5px solid var(--border-dark);
	margin-bottom: 10px;
}

.main > .top > ul, body, .main > .top > ul > li > ul{ margin: 0; padding: 0; }
.main > .top > ul * { text-align: left !important; }
.main > .top > ul li { list-style: none; }


.main > .top > ul > li > ul {
	display: none;
	position: absolute;
	width: 250px;
	background: #24303e;
	border: 5px solid #1c2938;
	box-shadow: 0px 3px 7px #000;
}
.main > .top > ul > li:hover > ul,
.main > .top > ul > li > ul > li { display: block; }
.main > .top > ul > li > ul > li > a { display: inherit; color: var(--primary); }
.main > .top > ul > li > ul > li > a:hover { background: rgba(0,0,0,0.3); }
.main > .top > ul > li > ul > li > a,
.main > .top > ul > li > a, .btn { text-decoration: none; }

.main > .top > ul > li > a, .btn {
    padding: 0.7rem 1.5rem;
    display: block;
    border-bottom: 5px solid;
    border-radius: 3px;
}

.main .leftPane, .main .rightPane {
	vertical-align: top;
}
.main .leftPane { width: 250px; }
.main .rightPane { width: 975px; }

.well {
	margin-bottom: 10px;
	background: var(--secondary-dark);
	border-bottom: 5px solid var(--border-dark);
}

.well, .well_body, .well_header,
.main > .top, .main > .bottom { width:auto; }
.well_body, .well_header { color: var(--font-color); }
.well_body { background: var(--primary-dark); }
.well_header {
	font-weight: bold;
	border-bottom: 5px solid var(--border-lightdark);
}

footer { border: 1px solid var(--third); }

a:hover, button:hover, input[type="submit"]:hover { cursor: pointer; }

* {
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
*:hover {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.alert-box {
	max-width: 500px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid var(--third);
	margin: 0 auto;
	margin-bottom: 15px;
}

.alert-info {
	background: var(--bg-info);
	color: var(--color-info);
	border-color: var(--border-info);
}
.alert-success {
    background: var(--bg-success);
    color: var(--color-success);
    border-color: var(--border-success);
}
.alert-warning {
	background: var(--bg-warning);
	color: var(--color-warning);
	border-color: var(--border-warning);
}
.alert-danger {
	background: var(--bg-danger);
	color: var(--color-danger);
	border-color: var(--border-danger);
}
.alert-size1 { font-size: 12px; }
.alert-size2 { font-size: 15px; }
.alert-size3 { font-size: 18px; }
.alert-size4 { font-size: 20px; }

.sm_icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border-radius: 1px solid var(--border-dark);
	color: var(--primary);
}

a span.new {
	font-size: 12px;
	border: 1px solid;
	border-radius: 3px;
	padding: 2px;
	background: var(--bg-info);
	border-color: var(--border-info);
	float: right;
}

.menuItemTxt { max-width: 190px; }
table { width: 100%; }
.leftPane table.top5 tr:nth-child(odd){ background: var(--secondary-dark); }
.leftPane table.events td:nth-child(even){ text-align: right; }

#countDownTimer {
    font-size: 2rem;
    color: var(--color-info);
}

.main > .top > ul,
.well_header,
.alert-box,
.sm_holder,
#countDownTimer {
	text-align: center;
}
.main .leftPane, .main .rightPane,
.alert-collapse,
.sm_icon,
.menuItemTxt,
.main > .top > ul li {
	display: inline-block;
}


.well_body, .well_header,
.alert-box,
.leftPane table td {
	padding: 5px;
}


.main, .main > .top,
.main .leftPane, .main .rightPane,
footer,
.ellipsis {
	overflow: hidden;
}
